

    @for $i from 1 through 3 {
        .feature-grid-item-#{$i} {
         margin: 0.3rem;
          background-color: $background-color;
          padding: 1rem;
         }
      }

    .facts p {
      margin-bottom: 1rem;
    }  

    @include breakpoint-up(medium){
      .feature {
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-areas: 
        "grid-item-1 grid-item-1"
        "grid-item-2 grid-item-3"
        ;
        grid-gap: 0.3rem;
      }
      @for $i from 1 through 3 {
        .feature-grid-item-#{$i} {
          grid-area: grid-item-#{$i};
         margin: 0;
          
         }
      }
    }