body {
    background: white;
    transition: 0.2s linear;
}
.light-toggle {
    position: absolute;
    right: 4rem;
    top: 1rem;
}
.checkbox {
    display: none;
}
.label {
    height: 26px;
    width: 54px;
    background: rgb(182,182,182);
    padding: 5px 8px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
align-items: center;
justify-content: space-between;
position: relative;
transform: scale(1.2);
box-shadow: 2px 1px 1px #333;
}
.label .ball {
    background: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    position:absolute;
    top: 2px;
    left: 5px;
transform: translateX(0px);
transition: transform 0.4s cubic-bezier(.45, -1.12, .35, 1.78);
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


// DARK MODE
.dark,.dark .hero_icons *, .dark a{
    background: $brand-color;
    color: $darkmode-text;
}
.dark .primary-navigation{
    background: $darkmode-nav-background;
}

.dark .mobile-nav-toggle {
    background-repeat: no-repeat;
}
.dark .feature {
    @for $i from 1 through 3 {
        .feature-grid-item-#{$i} {
        
          background-color: $dark-green;
         
         }
      }
  
}
.dark .timeline, .dark .part {
    background-color: $dark-green;
}
.dark .bead, .dark .line {
background-color: $darkmode-text;
}